<style>
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}

.Estilo10 {font-size: 12px; color: #00A3DD; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo11 {font-size: 12px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif; }
.Estilo12 {color: #FFFFFF}
.Estilo14 {font-size: 16px; color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo15 {font-size: 12px; color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo16 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.Estilo18 {font-size: 24px; color: #000000; }
.Estilo22 {font-size: 36px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo23 {font-size: 42px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo24 {font-size: 14px; font-weight: bold; }
.Estilo25 {font-size: 16px; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo26 {color: #999999}
.Estilo27 {font-size: 16px; font-weight: bold; }
.Estilo28 {font-size: 12px}
.Estilo42 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.Estilo44 {font-size: 9px; color: #353535; }
.Estilo45 {font-size: 24px;color: #000000;font-weight: bold;font-family: Arial, Helvetica, sans-serif;}
.Estilo46 {color: #857249; font-family: Arial, Helvetica, sans-serif; font-size: 9px;}
.Estilo52 {font-size: 18px}
.Estilo145 {color: #857249; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.Estilo147 {font-size: 9px; }
.Estilo152 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.Estilo159 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.Estilo159 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.Estilo160 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; }
.Estilo163 {color: #D9DB8A; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }
.Estilo168 {font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo170 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.Estilo171 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }
.Estilo172 {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.Estilo174 {font-size: 14px; color: #FA6504; font-weight: bold;	font-family: Geneva, Arial, Helvetica, sans-serif;}
.Estilo175 {color: #FA6504;	font-size: 12px; font-weight: bold;	font-family: Geneva, Arial, Helvetica, sans-serif;}
.Estilo176 {color: #002DDF;	font-size: 42px; font-weight: bold;	font-family: Arial, Helvetica, sans-serif;}
.Estilo177 {color: #003399;	font-size: 9px;}

.style18 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.style36 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }
.style40 {font-family: Arial, Helvetica, sans-serif}
.style62 {font-size: 14px; color: #003399; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style75 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; }
.style77 {font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.style80 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
.style85 {color: #000000}
.style85 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }
.style86 {font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style88 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.style89 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; }
.style90 {color: #FFFFFF}
.style93 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.style96 {color: #000000}
.style96 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }
.style98 {font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style751 {font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #000000; font-weight: bold; }
.style7511 {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #000000; }

.Textos {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.Textos1 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

.zsombra1 {
	background: #ffffff;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 0px solid #EBEBEB;
	border-top: 0px solid #EBEBEB;
	border-right: 2px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 20px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.zsombra2 {
	background: #ffffff;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 2px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 20px;
	font-family: verdana,arial,helvetica,sans-serif;
}

.zsombra3 {
	background: #ffffff;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1px 1px;
	font-family: verdana,arial,helvetica,sans-serif;
}

.zsombra4 {
	background: #ffffff;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 0px solid #A47678;
	border-bottom: 0px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px 20px;
	font-family: verdana,arial,helvetica,sans-serif;
}

.z3VERDE {
	background: #f7f7f7;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1px 1px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.z3VERDE1 {
	background: #B1CBCB;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 3px 3px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.z3AZUL {
	background: #003366;
	color:#003366;
	font-weight:
	bold;
	font-size: 12px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px 4px;
	font-family: arial,helvetica,sans-serif;
}
.z3BLANCA {
	background: ;
	color:#003366;
	font-weight:
	bold;
	font-size: 12px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px 4px;
	font-family: arial,helvetica,sans-serif;
}
.z3BLANCAchica {
	background: ;
	color:#003366;
	font-weight:
	bold;
	font-size: 12px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1.5px 1.5px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.z3BLANCAGrande {
	background: ;
	color:#003366;
	font-weight:
	bold;
	font-size: 14px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1px 1px;
	font-family: verdana,arial,helvetica,sans-serif;
}
.z3GRIS {
	background: #909090;
	color:#003366;
	font-weight:
	bold;
	font-size: 40px;
	border-left: 1px solid #A47678;
	border-top: 1px solid #A47678;
	border-right: 1px solid #A47678;
	border-bottom: 1px solid #A47678;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px 4px;
	font-family: arial,helvetica,sans-serif;
}

</style>
