.Estilo10 {font-size: 12px; color: #00A3DD; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo11 {font-size: 12px; color: #000000; font-style: italic; font-family: Arial, Helvetica, sans-serif; }

.Estilo12 {color: #FFFFFF}

.Estilo14 {font-size: 16px; color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo15 {font-size: 12px; color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo16 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}

.Estilo18 {font-size: 24px; color: #000000; }

.Estilo22 {font-size: 36px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo23 {font-size: 42px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo24 {font-size: 14px; font-weight: bold; }

.Estilo25 {font-size: 16px; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo26 {color: #999999}

.Estilo27 {font-size: 16px; font-weight: bold; }

.Estilo28 {font-size: 12px}

.Estilo42 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }

.Estilo44 {font-size: 9px; color: #353535; }

.Estilo45 {font-size: 24px;color: #000000;font-weight: bold;font-family: Arial, Helvetica, sans-serif;}

.Estilo46 {color: #857249; font-family: Arial, Helvetica, sans-serif; font-size: 9px;}

.Estilo52 {font-size: 18px}

.Estilo145 {color: #857249; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }

.Estilo147 {font-size: 9px; }

.Estilo152 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }

.Estilo159 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }

.Estilo159 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }

.Estilo160 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; }

.Estilo163 {color: #D9DB8A; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }

.Estilo168 {font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo170 {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}

.Estilo171 {color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }

.Estilo172 {font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.Estilo174 {font-size: 14px; color: #FA6504; font-weight: bold;	font-family: Geneva, Arial, Helvetica, sans-serif;}

.Estilo175 {color: #FA6504;	font-size: 12px; font-weight: bold;	font-family: Geneva, Arial, Helvetica, sans-serif;}

.Estilo176 {color: #002DDF;	font-size: 42px; font-weight: bold;	font-family: Arial, Helvetica, sans-serif;}

.Estilo177 {color: #003399;	font-size: 9px;}



.style18 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }

.style36 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; }

.style40 {font-family: Arial, Helvetica, sans-serif}

.style62 {font-size: 14px; color: #003399; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.style75 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; }

.style77 {font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}

.style80 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

.style85 {color: #000000}

.style85 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }

.style86 {font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.style88 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

.style89 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; }

.style90 {color: #FFFFFF}

.style93 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }

.style96 {color: #000000}

.style96 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; }

.style98 {font-size: 16px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.style751 {font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #000000; font-weight: bold; }

.style7511 {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #000000; }



.Textos {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

.Textos1 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }



.zsombra1 {

	background: #ffffff;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 0px solid #EBEBEB;

	border-top: 0px solid #EBEBEB;

	border-right: 2px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 2px 20px;

	font-family: verdana,arial,helvetica,sans-serif;

}

.zsombra2 {

	background: #ffffff;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #ffffff;

	border-top: 1px solid #ffffff;

	border-right: 2px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 2px 20px;

	font-family: verdana,arial,helvetica,sans-serif;

}



.zsombra3 {

	background: #ffffff;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 1px 1px;

	font-family: verdana,arial,helvetica,sans-serif;

}



.zsombra4 {

	background: #ffffff;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 0px solid #A47678;

	border-bottom: 0px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 2px 20px;

	font-family: verdana,arial,helvetica,sans-serif;

}



.z3VERDE {

	background: #f7f7f7;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 1px 1px;

	font-family: verdana,arial,helvetica,sans-serif;

}

.z3VERDE1 {

	background: #B1CBCB;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 3px 3px;

	font-family: verdana,arial,helvetica,sans-serif;

}

.z3AZUL {

	background: #003366;

	color:#003366;

	font-weight:

	bold;

	font-size: 12px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 4px 4px;

	font-family: arial,helvetica,sans-serif;

}

.z3BLANCA {

	background: ;

	color:#003366;

	font-weight:

	bold;

	font-size: 12px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 4px 4px;

	font-family: arial,helvetica,sans-serif;

}

.z3BLANCAchica {

	background: ;

	color:#003366;

	font-weight:

	bold;

	font-size: 12px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 1.5px 1.5px;

	font-family: verdana,arial,helvetica,sans-serif;

}

.z3BLANCAGrande {

	background: ;

	color:#003366;

	font-weight:

	bold;

	font-size: 14px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 1px 1px;

	font-family: verdana,arial,helvetica,sans-serif;

}

.z3GRIS {

	background: #909090;

	color:#003366;

	font-weight:

	bold;

	font-size: 40px;

	border-left: 1px solid #A47678;

	border-top: 1px solid #A47678;

	border-right: 1px solid #A47678;

	border-bottom: 1px solid #A47678;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	padding: 4px 4px;

	font-family: arial,helvetica,sans-serif;

}
* {margin: 0;padding: 0;font-family:Helvetica, Arial, Tahoma, sans-serif;}
img{border:0}
html,body{height:100%;width:100%;outline:0;overflow:hidden}
body {text-align:center;margin:0;width:100%;height:100%;overflow:hidden;padding:30px 0}

#agenda{margin:10px;width:980px;margin:0 auto}
#agenda h1{text-align:left;margin:0;font-size:1.5em;color:#312c2b}
#agenda h2{text-align:left;margin:0;font-size:2em;color:#DDDDDD;background-color: #312c2b}

#agenda table.calendario {margin:10px auto;width:100%;border:1px dotted #ccc;}

.calendario th {border:1px dotted #ccc;font-weight:bold;background:#666;color:white;padding:10px;font-size:12px;}
.calendario td{padding:10px;text-align:center;border:1px dotted #ccc;background:#fff;width:100px;white-space:pre-line;font-size:24px;}
	
	.calendario td.evento {background:#f2f2f2;}
	.calendario td.desactivada {background:#f6f6f6;}
	.calendario td.hoy{font-weight:bold}
	a.agregar_evento{position:relative;margin-left:25px;margin-top:-25px}
	.calendario td a{color:red;text-decoration:none;}

.verde,.ok{font-weight:bold;color:green;}
.rojo{font-size:125% !important;font-weight:bold;color:red;}
.siguiente,.anterior{text-decoration: none;
	padding: 10px;
	font-weight: 40;
	font-size: 12px;
	color: #000000;
	background-color: #AAAAAA;
	border-radius: 6px;
	border: 2px solid #ABABAB;}

#mask {position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;width:100%;height:100%}

#respuesta_form,.respuesta{clear:both;padding:20px 0;}
  
.window {position:fixed;left:0;top:0;width:440px;height:400px;display:none;z-index:9999;padding:20px;background-color:#ffffff;}

	.window h2{float:left;padding:0 0 20px 0;text-align:left;margin:0;font-size:5em;color:#DDDDDD;background-color: #333333}
	.window a.close{float:right;font-size:11px !important}
	.window p{margin:5px 0;font-size:12px;border:1px solid #ccc;text-align:left;padding:5px;clear:both;}
	
	.window form{padding:20px 0 !important;clear:both}
	.window input[type=text]{border:1px dotted #ccc;background:white;width:200px;padding:10px}
	.window input.enviar{border:1px dotted #ccc;background:white;width:120px;background:#ccc;margin:0 0 0 10px;padding:10px}
	.window p img{vertical-align:middle;float:right;border:0;width:16px;height:16px}